.ftr {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  justify-content: space-evenly;
  align-items: center;
  background-color: rosybrown;
  color: white;
  height: 5vh;
  margin: 0;
  padding: 1rem;
  width: auto;
}

.ftrText {
  margin: 0;
  font-size: medium;
  padding: .5rem;
}

.ftrSub {
  font-size: xx-small;
}

/* 📱 mobile styles 👇 */
@media screen and (min-width: 250px) and (max-width: 539px) {

}

/* 📲 tablet styles 👇  */
@media screen and (min-width: 540px) and (max-width: 1023px) {

}


/* 💻 desktop styles 👇 */
@media screen and (min-width: 1024px) {

}
