.ftr {
  background-color: rosybrown;
  color: white;
  font-family: "Beth Ellen";
  margin: 0;
  padding: 1rem;
  text-align: center;
  width: auto;
}

.ftr > p {
  margin: 0;
  font-size: medium;
  padding: .5rem;
}

