.hdr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color:rosybrown;
  color: white;
  height: 7vh;
  margin: 0;
  padding: 1rem;
  width: auto;
}

.nameTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Beth Ellen";
  margin: 0;
  padding: .5rem;
  width: 35%;
}

.devName {
  margin: 0;
}

.hdrList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  list-style: circle;
  margin: 0;
  padding: .5rem;
  width: 65%;
}

[aria-current] {
  font-family: "Beth Ellen";
  background-color:mistyrose;
  color: rgb(48, 24, 7);
  font-size: 1.3em;
  padding: .5rem;
}
