.hdr {
  background-color:rosybrown;
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
  width: auto;
}

.nameTile {
  align-items: center;
  font-family: "Beth Ellen";
  margin: 0;
  padding: .5rem;
}

.hdrList {
  color: white;
  list-style: circle;
  margin: 0;
  padding: .5rem;
}

[aria-current] {
  font-family: "Beth Ellen";
  background-color:mistyrose;
  color: rgb(48, 24, 7);
  font-size: 1.3em;
  padding: .5rem;
}

/* 📱 mobile styles 👇 */
@media screen and (min-width: 250px) and (max-width: 539px) {
  .hdrList {
    display: flex;
    justify-content: space-between;
  }
}

/* 📲 tablet styles 👇  */
@media screen and (min-width: 540px) and (max-width: 1023px) {
  .hdrList {
    display: flex;
    justify-content: space-evenly;
  } 
}


/* 💻 desktop styles 👇 */
@media screen and (min-width: 1024px) {
  .hdr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .nameTile {
    display: flex;
    flex-direction: column;
     width: 35%;
  }

  .hdrList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
  }
}
