.homeWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* .homeHdr {
  font-family: "Beth Ellen";
} */

.allHomeContent {
  display: flex;
}

.mainContent {
  /* border: 1px solid aquamarine; */
  width: 70%;
  padding: 1rem;
  margin: 1rem;
}