.homeContent {
  display: flex;
  flex-direction: row;
}

.homeHdr {
  font-family: "Beth Ellen";
  font-size: 1.7rem;
  text-align: center;
}

.mainContent {
  border: 1px solid aquamarine;
  width: 70%;
  padding: 1rem;
  margin: 1rem;
}
