/* 🎨 Styles applied to the entire document */
html, 
body {
  font-family: "Verdana", sans-serif;
  font-size: 1.1rem;
  line-height: 150%;
  text-align: justify;
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

p {
  padding: .5rem;
}

a {
  color: inherit;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  /* background-color: hsla(328, 100%, 54%, .5); */
  /* border-radius: 3rem; */
  /* padding: 0 .5rem 0 .5rem; */
  color: burlywood;
  text-shadow: orange 7px 7px 13px;
}

a:visited {
  color: inherit;
}

img {
  border-style: none;
  max-width: 100%;
  margin: .5rem;
  padding: .5rem;
}

/* 📄 Layout styles */
.layoutMain {
  /* border: 1px solid fuchsia; */
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  padding: 1rem;
  margin: 1rem;
}

.hOneStyles {
  font-family: "Beth Ellen";
  text-align: center;
}

.illuminated {
  font-size: 300%;
}

code {
  background-color: lightgray;
  font-family: 'Courier New', serif;
  font-weight: bold;
  padding: .2rem;
}

pre {
  background-color: lightgray;
  font-family: 'Courier New', serif;
  font-weight: bold;
  margin: 1rem;
  padding: .5rem;
  white-space: pre-wrap;
}

.funStyle {
  background-color: darkseagreen;
  border-radius: 1rem;
  font-size: 115%;
  padding: 1rem;
}

/* 💀 Header styles */
.hdr {
  background-color: black;
  /* background-color:rosybrown; */
  color: ghostwhite;
  margin: 0;
  padding: 1rem;
  text-align: center;
  width: auto;
}

.nameTile {
  align-items: center;
  font-family: "Beth Ellen";
  margin: 0;
  padding: .5rem;
}

.hdrList {
  color: ghostwhite;
  list-style: none;
  margin: 0;
  padding: .5rem;
  text-decoration: none;
}

[aria-current] {
  /* font-family: "Beth Ellen"; */
  color: ghostwhite;
  font-size: 2rem;
  /* padding: .5rem; */
  /* text-decoration: none; */
  /* text-shadow: deeppink 10px 0 39px; */
  text-shadow: orange 7px 7px 13px;
}

/* 🛼 Footer styles */
.ftr {
  background-color: black;
  /* background-color: rosybrown; */
  color: ghostwhite;
  font-family: "Beth Ellen";
  margin: 0;
  padding: 1rem;
  text-align: center;
  width: auto;
}

.ftr > p {
  margin: 0;
  font-size: medium;
  padding: .5rem;
}

/* 📑 Page styles */
/* 🏡 Home page styles */
.homeWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.allHomeContent {
  display: flex;
}

.mainContent {
  /* border: 1px solid aquamarine; */
  width: 70%;
  padding: 1rem;
  margin: 1rem;
}

/* 🥗 Sidebar styles */
.sideHeader {
  font-size: 450%;
}

.sideContent {
  background-color:darkseagreen;
  /* border: 1px solid lime; */
  /* width: 30%; */
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

/* 📌 Post styles */
.postStyles {
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 1.5rem;
  text-align: left;
}

.tldr {
  background-color:darkcyan;
  color: ghostwhite;
  font-family: "Courier New", serif;
  font-weight: bold;
  margin: 2rem 3rem;
  /* margin: 1rem; */
  padding: .7rem;
  text-align: justify;
}

.tldr > code {
  color: black;
}

.post-resources {
  background-color:honeydew;
  font-size: 85%;
  margin: 1rem 4rem;
  padding: 1rem;
}

/* 🥒 Pickle (portfolio) styles */
.rCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: honeydew;
  border: 1px solid gray;
  border-radius: 2rem;
}

/* 🥗 Sidebar styles */
.sideHeader {
  font-size: 450%;
}

.sideContent {
  background-color:black;
  border-radius: .5rem;
  /* border: 1px solid lime; */
  /* width: 30%; */
  margin: 1rem;
  padding: 1rem;
}

.rName {
  font-family: "Beth Ellen", cursive;
}

/* 🌮 About page styles */
.aboutWrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}


/* 📊 Media queries */
/* 📱 mobile styles 👇 */
@media screen and (min-width: 250px) and (max-width: 539px) {
  html {
    font-size: 100%;
  }

  code {
    
  }

  .layoutMain {
    /* background-color: aquamarine; */
  }

  .hdrList {
    display: flex;
    justify-content: space-between;
  }

  .hOneStyles {
    font-size: 1.5rem;
  }

  .homeWrapper,
  aboutWrapper {
    flex-wrap: wrap;
  }

  .allHomeContent {
    align-items: center;
    flex-direction: column;
  }
}

/* 📲 tablet styles 👇  */
@media screen and (min-width: 540px) and (max-width: 1023px) {
  html {
    font-size: 110%;
  }

  .layoutMain {
    /* background-color: aqua; */
  }

  .hdrList {
    display: flex;
    justify-content: space-evenly;
  } 
  
  .homeWrapper {
    flex-direction: column;
  }

  .hOneStyles {
    font-size: 1.7rem;
    margin: 0;
    padding: .5rem;
  }

  .allHomeContent {
    flex-flow: wrap;
    justify-content: center;
  }

  .aboutWrapper {
    justify-content: center;
    align-items: center;
  }

}


/* 💻 desktop styles 👇 */
@media screen and (min-width: 1024px) {
  .layoutMain {
    /* background-color: cornflowerblue; */
  }

  .hdr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .nameTile {
    display: flex;
    flex-direction: column;
     width: 35%;
  }

  .hdrList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
  }

  .homeWrapper {
    flex-direction: column;
  }

  .allHomeContent {
    height: 77rem;
  }

  .hOneStyles {
    font-size: 1.7rem;
    margin: 0;
    padding: .5rem;
  }

  .mainContent {
    width: 65%;
  }

  .new-post {
    height: 67rem;
    overflow: scroll;
  }

  .sideContent {
    /* width: 35%; */
    /* height: 50rem; */
    width: 30%;
  }

  .tweet-stream {
    border-radius: .3rem;
    height: 63rem;
    overflow: scroll;
  }

  .aboutWrapper {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .imgBar {
    width: 35%;
  }

  .aboutPs {
    width: 60%;
  }

  .ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* 💽  Styles saved for possible future use */
/* [hidden],
template {
  display: none;
} */

  /* <input> elements of type reset are rendered as buttons, with a default click event handler that resets all of the inputs in the form to their initial values. */
/* <input> elements of type submit are rendered as buttons. When the click event occurs (typically because the user clicked the button), the user agent attempts to submit the form to the server. */
/* [type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
} */
/* [type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
} */

/* searchbar styles -- keep these for future use! */
/* [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
} */
/* [type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
} */
/* ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
} */
/* ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
} */

/* React docs recommend using a separate stylesheet : "Some examples in the documentation use style for convenience, but using the style attribute as the primary means of styling elements is generally not recommended. In most cases, className should be used to reference classes defined in an external CSS stylesheet. style is most often used in React applications to add dynamically-computed styles at render time. See also FAQ: Styling and CSS." : https://reactjs.org/docs/dom-elements.html#style */

