.rCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: honeydew;
  border: 1px solid gray;
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
}

.rName {
  font-family: "Beth Ellen", cursive;
}