/* 📱 mobile styles 👇 */
@media screen and (min-width: 250px) and (max-width: 539px) {
  html {
    font-size: 100%;
  }

  .layoutMain {
    background-color: aquamarine;

  }
}

/* 📲 tablet styles 👇  */
@media screen and (min-width: 540px) and (max-width: 1023px) {
  html {
    font-size: 110%;
  }

  .layoutMain {
    background-color: azure;
  }

}


/* 💻 desktop styles 👇 */
@media screen and (min-width: 1024px) {
  /* .contentWrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
  } */
  
  .layoutMain {
    background-color: cornflowerblue;
  }
}
