/* 📱 mobile styles 👇 */
@media screen and (min-width: 250px) and (max-width: 539px) {
  html {
    font-size: 100%;
  }

  code {
    
  }

  .layoutMain {
    background-color: aquamarine;
  }

  .hdrList {
    display: flex;
    justify-content: space-between;
  }

  .hOneStyles {
    font-size: 1.5rem;
  }

  .homeWrapper,
  aboutWrapper {
    flex-wrap: wrap;
  }

  .allHomeContent {
    align-items: center;
    flex-direction: column;
  }
}

/* 📲 tablet styles 👇  */
@media screen and (min-width: 540px) and (max-width: 1023px) {
  html {
    font-size: 110%;
  }

  .layoutMain {
    background-color: aqua;
  }

  .hdrList {
    display: flex;
    justify-content: space-evenly;
  } 
  
  .homeWrapper {
    flex-direction: column;
  }

  .hOneStyles {
    font-size: 1.7rem;
    margin: 0;
    padding: .5rem;
  }

  .allHomeContent {
    flex-flow: wrap;
    justify-content: center;
  }

  .aboutWrapper {
    justify-content: center;
    align-items: center;
  }

}


/* 💻 desktop styles 👇 */
@media screen and (min-width: 1024px) {
  .layoutMain {
    background-color: cornflowerblue;
  }

  .hdr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .nameTile {
    display: flex;
    flex-direction: column;
     width: 35%;
  }

  .hdrList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
  }

  .homeWrapper {
    flex-direction: column;
  }

  .hOneStyles {
    font-size: 1.7rem;
    margin: 0;
    padding: .5rem;
  }

  .mainContent {
    width: 65%;
  }

  .sideContent {
    width: 35%;    
  }

  .aboutWrapper {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .imgBar {
    width: 35%;
  }

  .aboutPs {
    width: 60%;
  }

  .ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
