/* 📱 mobile styles 👇 */
@media screen and (min-width: 250px) and (max-width: 539px) {
  html {
    font-size: 100%;
  }

  .layoutMain {
    background-color: aquamarine;
  }

  .hdrList {
    display: flex;
    justify-content: space-between;
  }

  .homeHdr {
    font-size: 1.5rem;
  }

  .homeContent {
    flex-wrap: wrap;
  }
}

/* 📲 tablet styles 👇  */
@media screen and (min-width: 540px) and (max-width: 1023px) {
  html {
    font-size: 110%;
  }

  .layoutMain {
    background-color: azure;
  }

  .hdrList {
    display: flex;
    justify-content: space-evenly;
  } 
}


/* 💻 desktop styles 👇 */
@media screen and (min-width: 1024px) {
  .layoutMain {
    background-color: cornflowerblue;
  }

  .hdr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .nameTile {
    display: flex;
    flex-direction: column;
     width: 35%;
  }

  .hdrList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
  }

  .ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
