/* 🎨 Element styles */
html, 
body {
  /* font-family: Futura, sans-serif; */
  font-family: "Verdana", sans-serif;
  font-kerning: auto;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 150%;
  hyphens: auto;
  margin: 0;
  overflow-y: scroll;
  text-align: left;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; 
}

img {
  border-style: none;
  max-width: 100%;
  margin: .5rem;
  padding: .5rem;
}

/* 🖋 Typograpical styles */
a {
  color: inherit;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: #c77101;
  text-shadow: #cd8604 7px 7px 13px;
}

p {
  padding: .5rem;
}

code,
pre {
  background-color: #d3d3d3;
  font-family: 'Courier New', serif;
  font-weight: bold;
  white-space: pre-wrap;
}

pre {
  margin: 1rem;
  padding: 1rem;
}

.h-one-styles {
  font-family: "Beth Ellen";
  text-align: center;
}

.illuminated {
  font-size: 300%;
}

/* 💅 Page and component styles */

/* 📄 Layout styles */
.layout-main {
  /* border: 1px solid fuchsia; */
  display: flex;
  flex-direction: column;
  margin: 1rem;
  min-height: 75vh;
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.fun-style {
  background-color: #00412879;
  border-radius: 1rem;
  color: #f8f8ff;
  font-family: "Beth Ellen";
  padding: 1rem;
}

/* 💀 Header styles */
.hdr {
  background-color: #000000;
  color: #f8f8ff;
  margin: 0;
  padding: 1rem;
  text-align: center;
  width: auto;
}

.name-tile {
  align-items: center;
  font-family: "Beth Ellen";
  margin: 0;
  padding: .5rem;
}

.hdr-list {
  color: #f8f8ff;
  list-style: none;
  margin: 0;
  padding: .5rem;
  text-decoration: none;
}

[aria-current] {
  color: #f8f8ff;
  font-size: 2rem;
  /* text-shadow: deeppink 10px 0 39px; */
  text-shadow: #cd8604 7px 7px 13px;
}

/* 🛼 Footer styles */
.ftr {
  background-color: black;
  color: #f8f8ff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 0;
  padding: 1rem;
  text-align: center;
  width: auto;
}

.ftr > p {
  margin: 0;
  font-size: medium;
  padding: .5rem;
}

/* 🏡 Home page styles */
.home-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.all-home-content {
  display: flex;
}

.main-content {
  width: 70%;
  padding: 1rem;
}

.new-post {
  border: 10px solid black;
  border-radius: 17px;
}

/* 🥗 SideContent styles */
.side-content {
  background-color:#000000;
  border-radius: .5rem;
  padding: 1rem;
  width: 30%;
}

.twitter-timeline {
  color: #f8f8ff;
}

/* 📌 Post styles */
.post-wrapper {
  padding: 1rem 7rem;
  text-align: left;
}

.post-card {
  /* will contain styles for post cards */
}

.post-styles {
  border: 1px solid #a9a9a9;
  border-radius: 1.5rem;
  padding: 0 10rem;
  text-align: left;
}

.tldr {
  /* background-color:#008b8b; */
  background-color: #c15b02;
  border-radius: .3rem;
  color: #f8f8ff;
  font-family: "Courier New", serif;
  font-weight: bold;
  margin: 0 3rem;
  padding: 1.5rem;
  text-align: justify;
}

.tldr > code {
  color: #000000;
}

.post-resources {
  /* background-color:#f0fff0; */
  background-color: #e4812a;
  border-radius: .5rem;
  /* color: #f8f8ff; */
  margin: 0 3rem 2rem 3rem;
  padding: 1rem;
}

/* 🥒 Pickle (portfolio) styles */
.pickle-card {
  background-color: #c7710145;
  border: 2px solid #fde531;
  border-radius: .5rem;
  margin: 1rem;
  padding: 2rem;
  width: 70%;
}

/* 🌮 About page styles */
.about-wrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}