html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 1rem Verdana, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

small {
  font-size: 80%;
}

img {
  border-style: none;
  max-width: 100%;
  margin: .5rem;
}

/* header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.5rem;
  background-color: cornflowerblue;
  color: white;
} */

/* header > p {

} */

ul {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
}

p {
  line-height: 150%;
  padding: 1rem;
}

[aria-current] {
  /* font-family: 'Beth Ellen', cursive; */
  font-weight: bold;
  background-color: turquoise;
  color: white;
  font-size: 1.5em;
  padding: .5rem;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* The <progress> HTML element displays an indicator showing the completion progress of a task, typically displayed as a progress bar. */
/* progress {
  vertical-align: baseline;
} */

/* [hidden],
template {
  display: none;
} */

/* The <hr> HTML element represents a thematic break between paragraph-level elements: for example, a change of scene in a story, or a shift of topic within a section. */
/* hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;

  /* <input> elements of type reset are rendered as buttons, with a default click event handler that resets all of the inputs in the form to their initial values. */
/* <input> elements of type submit are rendered as buttons. When the click event occurs (typically because the user clicked the button), the user agent attempts to submit the form to the server. */
/* [type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
} */
/* [type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
} */

/* searchbar styles -- keep these for future use! */
/* [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
} */
/* [type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
} */
/* ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
} */
/* ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
} */



